@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    height: 80px;
}

#header {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #292929;
    background-color:#fff9f5;
    font-size: 15px;
    box-shadow: 0 0 30px 1px #292929;
    position: fixed;
    z-index: 10;
}

#menu {
    list-style: none;
    display: flex;
    align-items: center;
}

#menu .item {
    margin: 0 5px;
    text-align: center;
    font-weight: 600;
}

#menu .item a {
    text-decoration: none;
    padding: 14px 25px;
    display: block;
    color: #131313;
}

#menu .item_menu {
    padding: 0 15px;
    position: relative;
    top: 0;
}

#menu .item_menu .item_brands {
    visibility: hidden;
    position: absolute;
    background-color: #fff9f5;
    width: 100%;
    opacity: 0;
    transition: 0.25s;
}

.item_brands .brands a {
    text-align: left;
}

.item_bottom {
    border-bottom: #131313 solid 3px;
}

#menu>.item>.item_bottom {
    color: #131313;
}

body {
    background-color: var(--text-color);
}

#menu>.item:hover>a,
.item_brands>.brands>a:hover {
    color: #131313;
    opacity: 0.7;
}

#menu>.item_menu>.item_brands>.brands>a:hover {
    color: #131313;
}

#menu>.item_menu:hover>.item_brands {
    visibility: visible;
    opacity: 1;
}

.item a {
    text-decoration: none;
    display: block;
    color: #131313;
    padding: 10px 20px;
}

#search {
    background: #fff9f5;
    border-radius: 100px;
}

#search_text {
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    font-size: 13px;
    width: 0;
    transition: all 0.25s ease-in-out;
}

#search_btn {
    background-color: #fff9f5;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
}

#search:hover #search_text,
#search #search_text:valid {
    width: 150px;
    padding: 5px 0px 10px 10px;
}


#log_in {
    display: flex;
}

.user {
    padding-right: 12px;
}

/* zz */
.image {
    text-align: center; 
    width: 100%; 
    
  }
  
  .image img {
    display: block; 
    margin: 0 auto; 
    height: 500px;
    width: 100%;
  }
  /* zz */
 

/* zz */
.customer-slide {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 40px;
  }
  .slick-slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial {
    margin: 0 10px; 
  }
  .testimonial img {
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
  }
  .customer-slide h6{
    font-size: 40px;
    font-family: cursive;
  }
  /* zz */
  .footer{ 
    margin-top: 30px;
    border: solid 1px black;
    background-color: #fff9f5;
  }
  .footer-1{
  display: flex;
  justify-content: space-around;
  }
  .f2{
   display: flex;
   text-align: center;
  }
  /* zz */
  #content {
    margin: 10px 5%;
}

.page-content {
    display: none;
}

.page-content.active {
    display: block;
}
/* .active {
    background-color: yellow;
} */

.news-1 {
    margin: 10px 0px;
}

.content-1 {
    text-align: center;
}

.news-1 img {
    border: 1px solid none;
    border-radius: 5px;

    margin-bottom: 10px;
}

.news-1 img {
    transition: transform 0.3s ease;
}

.news-1 img:hover {
    transform: scale(1.1);
}


.news-1 h5 {
    color: #337ab7;
    margin-top: 10px;
}

.news-1 p {
    text-align: center;
}

.news-1 button {
    float: left;
    color: #ffbd00;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #d2e1ef;
    border-radius: 5px;
    background: linear-gradient(to right, #337ab7 -10%, #fff 0%, #fff 50%, #337ab7 49%, #337ab7 100%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
}

.news-1 button:hover {
    background-position: -100% 0;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    padding: 0px 10px;

}

.page-item a {
    color: #ffbd00;
    border-radius: 5px;
}

.page-item a:hover {
    background-color: #015fc9;
    color: #fff;
}
.pagination .page-link.active {
    background-color: #015fc9;
    color: #fff;
}

